"*":
  "atom-beautify":
    json:
      indent_size: 4
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "Hydrogen"
      "data-explorer"
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "split-diff"
    ]
    packagesWithSnippetsDisabled: []
    telemetryConsent: "no"
  editor:
    scrollPastEnd: true
  "exception-reporting":
    userId: "767b8a66-2cad-4875-96d7-a6dbf03df59b"
  "git-diff": {}
  "line-jumper":
    numberOfLines: 5
  minimap: {}
  "split-diff":
    hideDocks: true
  welcome:
    showOnStartup: false
".apex.source":
  editor:
    tabLength: 4
".json.source":
  editor:
    showIndentGuide: true
    tabLength: 4
".python.source":
  editor:
    showIndentGuide: true
".source.sql":
  editor:
    tabLength: 4
